/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bool-primary: rgba(255, 105, 0, 1);
    --bool-eco: rgba(0, 128, 0, 1);
    --bool-discount-perc: rgba(255, 0, 0, 1);
    --bool-discount-price: rgba(255, 17, 27, 1);
    --bool-footer: rgba(26, 26, 26, 1);
}

body {
    font-family: 'Roboto', sans-serif;
}

.site-header {
    background-color: var(--bool-primary);
    position: fixed;
    z-index: 1;
    width: 100%;
    box-shadow: 1px;
}


.container {
    width: 80%;
    margin: auto;
}

.d-flex {
    display: flex;
}

ul {
    list-style: none;
}
.site-main{
    padding-top: 6rem;
}
/* #endregion Common */

/* #region Utilities */
.grow {
    flex-grow: 1;
}
.max-width{
    max-width: 100%;
}
.display-none{
    display: none;
}
/* #endregion Utilities */

/* #region Header */
nav>ul {
    font-size: small;
    color: white;
    gap: 0.4rem;
}

.logo-container {
    width: 60%;
    text-align: center;
}

.logo {
    width: 6rem;
}

nav.container {
    justify-content: center;
    padding: 1rem;
    align-items: center;
}

.header-icons {
    justify-content: end;
    gap: 0.4rem;
}
/* #endregion Header */

/* #region Main */
.site-main > .container{
    gap: 1rem;
    flex-wrap: wrap;

}
.card{
    width: 300px;
    height: 500px;
    margin-bottom: 2rem;
}
.card-top{
    position: relative;
}
.discount{
    position:absolute;
    background-color: var(--bool-discount-perc);
    bottom: 2rem;
    padding: 0.2rem 0.5rem;
    color: white;
}
.eco{
    position:absolute;
    background-color: var(--bool-eco);
    bottom: 2rem;
    left: 3.5rem;
    padding: 0.2rem 0.5rem;
    color: white;
}
.heart{
    position:absolute;
    top: 0.5rem;
    right: 0;
    padding: 0.4rem 0.6rem;
    background-color: white;
}

.discount-price{
    color: var(--bool-discount-price);
    font-weight: bold;
}

.original-price{
    text-decoration: line-through;
}

.eco.position-left{
    left: 0;
}

.card:hover .max-width{
    display:none;
}
.card:hover .display-none.max-width{
    display:inline-block;
    cursor: pointer;
}
.heart:hover{
    color: red;
    cursor: pointer;
}